<%= simple_form_for(@element) do |f| %>

  <div class="form-inputs">
    <%= f.input :name,label: 'Новый элемент:' %>
    <span class="btn-sm btn-success left mrg_l">Добавить</span>
  </div>
<% end %>
