<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @search_category.name %>
</p>

<%= link_to 'Edit', edit_search_category_path(@search_category) %> |
<%= link_to 'Back', search_categories_path %>
