<%= hidden_field :wh_el, :whouse_id, value: @whouse.id  %>
<%= select :wh_el,'element_id', content_tag(:option,'Элемент...',:value=>"")+options_for_select(@elements.collect{ |e| [e.name, e.id] }) %>
<%= number_field :wh_el, :count, value: 1, class: "short_num" %>
<span class="btn-sm btn-success">Обновить</span>