<div class="panel panel-default">

<table class="table table-striped table-hover">

  <thead>
    <tr>
      <th>Детали:</th>
      <th>Количество</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @whouse_elements.each do |wh_el| %>
      <tr>
        <td><%= element_name(wh_el) %></td>
        <td><%= wh_el.count %></td>
        <%= sp_edit_delete(wh_el) %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>