<p id="notice"><%= notice %></p>

<h1>Список складов</h1>

<% @whouses.each do |whouse| %>

<div class="panel panel-default">

<div class="panel-heading table-heading"><%= link_to whouse.name,whouse %></div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Элемент</th>
      <th>Количество</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <% whouse.whouse_elements.each do |el| %>
      <tr>
        <td>el.id</td>
        <td>el.count</td>
        <td></td>
        
      </tr>
      <% end %>
  </tbody>
</table>
</div>
<% end %>
<br>

<%= link_to 'Новый склад', new_whouse_path, class: "btn btn-success" %>

