<p><strong>Склад:</strong><%= @whouse.name %></p>

<div class="whouse_elements">
	<div id="whouse_elements">
		<%= render "whouse_elements" %>
	</div>

	<div class="whouses control">
		<%= render "new_cntr" %>
	</div>

</div>