<div class="sidebar">

	<div class="list-group">	
		  <div class="head">Настройки:</div>
		  <ul>
			<%= option_link("elements","Элементы") %>
			<%= option_link("whouses","Склады") %>
		  </ul>	

  </div>
</div>

<div class="content">
	<%= render @page_render %>
<div class="sep_3"></div>
</div>


</div>