
.fauxShow, .dropdown.is-active .dropdown-menu, .nav.is-active .nav-list, .note.in, .is-selecting .reactBar {
  height: auto;
  opacity: 1;
  overflow: visible;
  visibility: visible;
}

.note--alert {
  background: #d7a627;
}

.has-note {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 18;
  width: 100%;
}

.alert1 {
  background:#31a480;
  border-radius:3px;color:#fff;display:block;
  font-size:85%;
  height:100%;
  margin:0.625em;
  opacity:0; overflow:hidden;padding:1.25em;
  position:relative;-webkit-transform:scale(0.8);
  -ms-transform:scale(0.8);
  transform:scale(0.8);
  -webkit-transition:0.2s ease-in-out;
  transition:0.2s ease-in-out;
  visibility:hidden;
}


.has-note {
  width: 25em;
  //background: #a3dee8;
}


.alert.out,.note.out{-webkit-transform:translateX(100%);-ms-transform:translateX(100%);transform:translateX(100%);-webkit-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out}
//.alert.in{ transform: translateX(0%); transition:all 0.4s ease-in-out}
//.alert.in{-webkit-transform:translateX(100%);-ms-transform:translateX(100%); -webkit-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out}


 
.fade-in.alert {
-webkit-animation-delay: 0.4s;
-moz-animation-delay:0.4s;
animation-delay: 0.4s;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.3s;
  -moz-animation-duration:0.3s;
  animation-duration:0.3s;
}