/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require nprogress
 */


.sidebar{float: left; width: 214px; }
.btn-success { color: #fff; background-color: #5cb85c; border-color: #4cae4c; }

td.edit_delete, th.edit_delete{ width: 45px; padding-right: 4px !important;	padding-left: 4px !important; }

span.btn,span.btn-sm{cursor: pointer;}

input[type="text"], input[type="number"], input[type="password"], 
input[type="email"], textarea, .comment_area{ border: 1px solid #bbb; border-radius: 3px;
-webkit-transition: border linear 0.2s,box-shadow linear 0.2s;
-moz-transition: border linear 0.2s,box-shadow linear 0.2s;
-ms-transition: border linear 0.2s,box-shadow linear 0.2s;
-o-transition: border linear 0.2s,box-shadow linear 0.2s;
transition: border linear 0.2s,box-shadow linear 0.2s;
-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
padding-left: 5px;
}

input[type="text"]:focus,input[type="number"]:focus,#datepicker:focus,textarea:focus,
.chosen-container-multi:focus, .chosen-choices:focus{ outline:0;
 border-color:rgba(82,168,236,0.8);
-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1),0 0 8px rgba(82,168,236,0.6);
-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1),0 0 8px rgba(82,168,236,0.6);
 box-shadow:inset 0 1px 3px rgba(0,0,0,0.1),0 0 8px rgba(82,168,236,0.6)
}

.left {float: left;}
.li-right, .right {  float: right !important;  margin-top: 0 !important; }

.fullwidth{ width: 100%;}
.navbar-inverse .navbar-nav>li>a {color: #aaa;}
.navbar-inverse{ background: url("menu_bg_dark.png");}
.navbar ul{ height: 32px;  }



.element_name {float: left; }
.mrg_l { margin-left: 10px; }

.btn-min { padding: 2px 10px; font-size: 11px; line-height: 1.5; border-radius: 3px; vertical-align: top !important; }
.btn-min2 { padding: 3px 10px; font-size: 12px; line-height: 1.5; border-radius: 3px; vertical-align: top !important; }

.col-menu { position: relative; min-height: 1px; padding-left: 0; padding-right: 15px; width: 150; float: left; }

a.list-group-item { padding: 4px 10px; }
.short_num{ width: 40px; }

span.icon { width: 16px;  height: 16px; display: inline-block; vertical-align:middle; position:relative; }
span.icon:hover{ cursor: pointer; }
span.delete{ background: url('delete.png') no-repeat;  }
span.edit{background: url('edit.png') no-repeat;}
span.icon_apply{background: url('apply.png') no-repeat;}
span.icon_cancel{background: url('cancel.png') no-repeat;}

td.editable{padding: 5px !important; }

.w80{width: 80%;}
.margin_top_20{margin-top: 20px;}
.items_box_head {  margin: 0 0 10px 0; min-height: 20px;}
.combobox{ margin-left: 10px; margin-right: 0;}

.control input[type='number']{height: 25px; vertical-align: bottom;}
.control .chosen-container{margin-top: 0;}
.control .btn-sm{vertical-align: bottom;margin-top: 1px;}

