body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td { 
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre { background-color: #eee; padding: 10px; font-size: 11px; }

div { &.field, &.actions { margin-bottom: 10px; } 
}

#notice { color: green; }

.field_with_errors { padding: 2px; background-color: red; display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li { font-size: 12px; list-style: square; }
}

.signin {  max-width: 500px;  padding: 20px 50px;  margin: 0px auto;  background: #F9F9F9;  border-radius: 5px;  margin-top: 30px;}
.signin a:nth-child(2) { float: right;}
.signin .btn { width: 100%; }
.signin input{margin-bottom: 10px;}

.btn {float: left;}
.btn:hover {opacity: 0.7;}
.btn_a.btn_reset { background: #c3c3c3; text-decoration: none; margin-left: 10px; }
.btn_reset { margin-right: 10px; &:hover{color:white;} }
.btn_a, .form-actions .btn-success, a.btn-success, .input-group .btn-warning {
  display: inline-block;
  //background: #ff8411;
  height: 34px;
  line-height: 34px;
  padding: 0 19px 0 19px;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  border-radius: 5px;
  position: relative;
}


.sub {float:left;}

.flash_notice, .flash_success,.alert-success  { color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; }
.flash_error,.flash_alert, .flash_danger,.alert-danger { color: #a94442; background-color: #f2dede; border-color: #ebccd1; }
.flash_warning, .alert-warning  { color: #8a6d3b; background-color: #fcf8e3; border-color: #faebcc; }
