<div class="panel panel-default">
      <div class="panel-heading table-heading"></div>
      <table class="table table-striped table-hover" model="<%= @search_urls.class.name %>">

  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @search_sites.each do |search_site| %>
      <tr>
        <td><%= search_site.name %></td>
	<%= td_edit_delete(search_site) %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search site', new_search_site_path %>
