<div class="container">
<nav class="navbar navbar-inverse top-menu">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <%= render_navigation :level => 1 %>
    </div>
  </div>
</nav>
</div>

<div class="subnav">
  <div class="container">
    <%= render "submenu" %>
  </div>
</div>