<div class="bs-example" data-example-id="simple-table">
<table class="table table-striped table-hover">

  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @layout_elements.each do |lay_el| %>
      <tr>
        <td><%= lay_el.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= form_for(@layout_element) do |f| %>
<%= f.hidden_field :layout_id   %>
<%= f.select 'element_id', content_tag(:option,'Элемент...',:value=>"")+options_for_select(@elements.collect{ |e| [e.name, e.id] }) %>

<span class="btn-sm btn-success">Добавить</span>
<% end %>

</div>