<div class="bs-example" data-example-id="simple-table">
<table class="table table-striped table-hover">

  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @layout_elements.each do |lay_el| %>
      <tr>
        <td><%= lay_el.name %></td>
        <%= edit_delete(lay_el) %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить элемент', new_layout_path, class: "btn btn-success" %>

</div>