<p id="notice"><%= notice %></p>

<h1>Список схем</h1>

<div class="panel panel-default">
<table class="table table-striped table-hover">

  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @layouts.each do |layout| %>
      <tr>
        <td><%= link_to layout.name, layout %></td>
        <%= edit_delete(layout) %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новая схема', new_layout_path, class: "btn btn-success" %>

</div>